@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  width: 20%;
  height: 100vh;
  background: #0c0c0c;
}

.navigation .title-wrap {
  width: 80%;
  margin: 0 auto;
  height: 20vh;
  padding: 10px 0px 0px 0px;
}

.navigation .link {
  width: 80%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  margin: 50px auto 0px auto;
  height: 25vh;
}

.navigation .link li {
  cursor: pointer;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  font-weight: 600;
}

.navigation .link li:hover {
  color: #8b8b8b;
}

.navigation .sosial {
  width: 80%;
  height: 10vh;
  margin: 20px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.navigation .sosial a i {
  font-size: 1.3rem;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.navigation .sosial a i:hover {
  color: #8b8b8b;
}

.navigation .playlist {
  width: 80%;
  height: 25vh;
  margin: 25px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.navigation .playlist a {
  text-decoration: none;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.navigation .playlist a:hover {
  color: #8b8b8b;
}

.main {
  width: 80%;
  height: 100vh;
  float: right;
}

.main .greeting {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .greeting p {
  color: black;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.main .greeting h1 {
  color: black;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.gap {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(184, 184, 184, 0.1);
}

@-webkit-keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */