@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
}

body {
    display: flex;
}

.navigation {
    width: 20%;
    height: 100vh;
    background: #0c0c0c;

    .title-wrap {
        width: 80%;
        margin: 0 auto;
        height: 20vh;
        padding: 10px 0px 0px 0px;
    }

    .link {
        width: 80%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin: 50px auto 0px auto;
        height: 25vh;

        li {
            cursor: pointer;
            transition: all ease-in-out .2s;
            font-weight: 600;
        }

        li:hover {
            color: rgb(139, 139, 139);
        }
    }

    .sosial {
        width: 80%;
        height: 10vh;
        margin: 20px auto 0px auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;

        a {
            i {
                font-size: 1.3rem;
                transition: all ease-in-out .2s;
            }

            i:hover {
                color: rgb(139, 139, 139);
            }
        }
    }

    .playlist {
        width: 80%;
        height: 25vh;
        margin: 25px auto 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;


        a {
            text-decoration: none;
            transition: all ease-in-out .2s;
        }

        a:hover {
            color: rgb(139, 139, 139);
        }
    }

}

.main {
    width: 80%;
    height: 100vh;
    float: right;

    .greeting {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: black;
            opacity: 0;
            animation-name: intro;
            animation-fill-mode: forwards;
            animation-duration: 3s;
        }

        h1 {
            color: black;
            opacity: 0;
            animation-name: intro;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
    }

}


.gap {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(184, 184, 184, 0.1);
}




@keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}